@model EmprestimoViewModel

@{
}

<h1>Novo Emprestimo</h1>

<h4>Dados</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
</div>
<br/>
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <input id="oClienteId" asp-for="oClienteId" class="form-control" />
            </div>
            <div hidden class="form-group">
                <input id="oLivroId" asp-for="oLivroId" class="form-control" />
            </div>
            <div class="card">
                <div class="card-header">Selecione um Cliente</div>
                <div class="card-body row">
                    <div class="col-md">
                        <table class="table" id="tabela-clientes">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oCliente.CliCpf)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oCliente.CliNome)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.oCliente.CliCidade)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.oCliente.CliTelefoneCelular)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oCliente.CliEmail)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.oListCliente)
                                {
                                    <tr onclick="PassClienteId('@item.Id')">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CliCpf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CliNome)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CliCidade)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CliTelefoneCelular)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CliEmail)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <br/>
            <div class="card">
                <div class="card-header">Selecione um Livro</div>
                <div class="card-body row">
                    <div class="col-md">
                        <table class="table" id="tabela-livros">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oLivro.LivroNome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oLivro.LivroAutor)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oLivro.LivroEditora)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oLivro.LivroAnoPublicacao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.oLivro.LivroEdicao)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.oListLivro)
                                {
                                    <tr onclick="PassLivroId(@item.Id)">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LivroNome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LivroAutor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LivroEditora)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LivroAnoPublicacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LivroEdicao)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <br/>
            <div class="card">
                <div class="card-header">Datas</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="dataEmprestimo" class="control-label"></label>
                            <input readonly="readonly" asp-for="dataEmprestimo" class="form-control" />
                            <span asp-validation-for="dataEmprestimo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="dataEntrega" class="control-label"></label>
                            <input asp-for="dataEntrega" class="form-control" />
                            <span asp-validation-for="dataEntrega" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Salvar Empréstimo" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var tableCliente = $('#tabela-clientes').DataTable();
            var tableLivros = $('#tabela-livros').DataTable();
            $('#tabela-clientes tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    tableCliente.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#tabela-livros tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    tableLivros.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
        function PassClienteId(oClienteId) {
            document.getElementById('oClienteId').value = oClienteId
            //console.log(oClienteId);
        };
        function PassLivroId(oLivroId){
            document.getElementById('oLivroId').value = oLivroId
            //console.log(oLivroId);
        };
    </script>
}
