@model IEnumerable<LivrariaContreleEmprestimo.DATA.Models.VwLivroClienteEmprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Empréstimos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Realizar novo Empréstimo</a>
</p>
<table class="table" id="tabela-emprestimo">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.CliCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LceldDataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LceldDataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LceldEntregue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LceldDataEmprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LceldDataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LceldEntregue)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
